# Configs
.gitignore
.prettierrc.json
**/*.tgz

# Folders
Examples
src/
node_modules/
.husky
.vscode
.github

# Files
/tsconfig.json
/simplydjs.js
/simplydjs.ts

# Other
FUNDING.yml
README.md
FUNDING.yml